@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bad+Script|Cedarville+Cursive|Courgette&display=swap');


* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    color: #605C4E;
}

@media screen and (max-width: 760px){
     
    .opaqueBackground {
        background-color: rgba(240, 248, 255, 0.65);
        padding: 7px;
        margin: 0 30px;
    }
}

@media screen and (max-width: 760px){
     
    main.opaqueBackground {
        border-radius: 0 0 5px 5px;
        margin-top: 0;
    }
}

@media screen and (max-width: 760px){
     
    header.opaqueBackground {

        border-radius: 5px 5px 0 0;
        margin-bottom: 0px;
    }
}

#zipButtonDiv {
    position: fixed;
    bottom: 0;
    right: 0;
}

.quote{
    font-family: 'Bad Script', cursive;
    font-size: xx-large;
    margin-top: 40px;
}

#background {
    background-image: url(./day.PNG);
    background-size: cover;
}

.night #background {
    background-image: url(./night.PNG);
}

.giphy{
    max-height: 375px;
    margin-top: 20px;
    opacity: 1;
}

